<a href="userDetails">Detalii cont</a>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PC Tech</title>
<!--    <link th:href="@{css/style.css}" href="../../static/css/style.css"-->
<!--          rel="stylesheet" type="text/css" media="screen"/>-->
    <link href="css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</head>
<body class="bmain">
<div class="main">
    <div class="logo">
        <a href="index"><img src="images/logo.png"></a>
    </div>
    <div class="account">
        <ul>
            <li>
                <a href="cart" class="cos">Cos<ion-icon name="cart-outline"></ion-icon><span>0</span></a>
                <a href="login">Logare</a>
                <a href="inreg">Inregistrare</a>
            </li>
        </ul>
    </div>
    <nav>
        <div class="nav-links">
            <div class="laptop-hover"><a href="">Laptop</a>
                <div class="laptop-drop-content">
                    <a href="laptop-notebook">Notebook/Laptop</a>
                    <a href="laptop-gaming">Laptop Gaming</a>
                    <a href="memorii-notebook">Memorii Notebook/Laptop</a>
                </div>
            </div>
            <div class="sis-hover"><a href="">Sisteme Gaming & Office</a>
                <div class="sis-drop-content">
                    <a href="pc_scoala">PC Scoala Online</a>
                    <a href="pc_gaming">PC Gaming</a>
                </div>
            </div>
            <div class="comp-hover"><a href="componente">Componente</a>
            </div>

        </div>
    </nav>
    <div class="promo">
    </div>
</div>

<script src="main.js"></script>
</body>
</html>