<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>PC Tech</title>
        <link th:href="@{css/laptop-nav.css}" href="../../static/css/laptop-nav.css"
              rel="stylesheet" type="text/css" media="screen"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    </head>
    <body class="bmain">
        <div class="main">
            <div class="logo">
               <a href="index"><img src="images/logo.png"></a>
            </div>
            <div class="account">
                <ul>
                    <li>
                        <a href="cart" class="cos">Cos<ion-icon name="cart-outline"></ion-icon><span>0</span>
                        <a href="login">Logare</a>
                        <a href="inreg">Inregistrare</a>
                    </li>
                </ul>
            </div>
             <nav>
                <div class="nav-links">
                    <div class="laptop-hover"><a href="">Laptop</a>
                        <div class="laptop-drop-content">
                            <a href="laptop-notebook">Notebook/Laptop</a>
                            <a href="laptop-gaming">Laptop Gaming</a>
                            <a href="memorii-notebook">Memorii Notebook/Laptop</a>
                        </div>
                    </div>
                    <div class="sis-hover"><a href="">Sisteme Gaming & Office</a>
                        <div class="sis-drop-content">
                            <a href="pc_scoala">PC Scoala Online</a>
                            <a href="pc_gaming">PC Gaming</a>

                        </div>
                    </div>
                    <div class="comp-hover"><a href="componente">Componente</a>
                    </div>
                    
                    
                    
                </div>
            </nav>
        </div>
        <table class="table">
            <tr class="images">
                <th><img src="images/Memorii Notebook/1.jpg" alt="" width="200px" height="200px"></th>
                <th><img src="images/Memorii Notebook/2.jpg" alt="" width="200px" height="200px"></th>
                <th><img src="images/Memorii Notebook/3.jpg" alt="" width="200px" height="200px"></th>
                <th><img src="images/Memorii Notebook/4.jpg" alt="" width="200px" height="200px"></th>
                <th><img src="images/Memorii Notebook/5.jpg" alt="" width="200px" height="200px"></th>
            </tr>
            <tr class="desc">
                <td><a href="">Memorie notebook HyperX Impact, 8GB, DDR4, 2666MHz, CL15, 1.2v</a></td>
                <td><a href="">Memorie notebook Kingston ValueRAM, 8GB, DDR4, 2400MHz, CL17, 1.2v, 1Rx8</a></td>
                <td><a href="">Memorie notebook HyperX Impact, 16GB, DDR4, 2666MHz, CL15, 1.2v</a></td>
                <td><a href="">Memorie notebook Kingston 8GB, DDR4, 2666MHz, CL19, 1.2v, 1Rx8</a></td>
                <td><a href="">Memorie notebook Kingston 8GB, DDR4, 2666MHz, CL19, 1.2v, 1Rx8</a></td>
            </tr>
            <tr>
                <td><li>Tip: DDR4 SODIMM</li>
                    <li>Capacitate: 8 GB</li>
                    <li>Frecventa: 2666 MHz</li>
                    <li>Latenta CAS: 15 ns</li>
                    <li>Standard: PC4-21300</li>
                </td>
                    <td><li>Tip: DDR4 SODIMM</li>
                        <li>Capacitate: 8 GB</li>
                        <li>Frecventa: 2400 MHz</li>
                        <li>Latenta CAS: 17 ns</li>
                        <li>Standard: PC4-19200</li>
                    </td>
                        <td><li>Tip: DDR4 SODIMM</li>
                            <li>Capacitate: 16 GB</li>
                            <li>Frecventa: 2666 MHz</li>
                            <li>Latenta CAS: 15 ns</li>
                            <li>Standard: PC4-21300</li>
                        </td>
                        <td><li>Tip: DDR4 SODIMM</li>
                            <li>Capacitate: 8 GB</li>
                            <li>Frecventa: 2666 MHz</li>
                            <li>Latenta CAS: 19 ns</li>
                            <li>Standard: PC4-21300</li>
                        </td>
                        <td>
                            <li>Tip: DDR3 SODIMM</li>
                            <li>Capacitate: 8 GB</li>
                            <li>Frecventa: 1600 MHz</li>
                            <li>Latenta CAS: 11 ns</li>
                            <li>Standard: PC3-12800</li>
                        </td>
            </tr>
            <tr class="price">
                <td>167,38 RON</td>
                <td>162,58 RON</td>
                <td>312,46 RON</td>
                <td>161,98 RON</td>
                <td>184,99 RON</td>
            </tr>
            <tr class="price">
                <td>
                    <p id="addbtn"><button>Adauga in cos</button></p>
                </td>
                <td>
                    <p id="addbtn"><button>Adauga in cos</button></p>
                </td>
                <td>
                    <p id="addbtn"><button>Adauga in cos</button></p>
                </td>
                <td>
                    <p id="addbtn"><button>Adauga in cos</button></p>
                </td>
                <td>
                    <p id="addbtn"><button>Adauga in cos</button></p>
                </td>
            </tr>
          </table>
        
        
                    
                    
                            
                    </body>
</html>