<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<!DOCTYPE html><html class=''>
<head><script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/RSH87/pen/RagqEv?limit=all&page=50&q=contact+" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.4/css/simple-line-icons.min.css'>
    <link rel="stylesheet" href="css/index.css">


</head><body>
<nav>
    <div class='mini'>
        <p class='products'>Empty</p>
        <p class='names'></p>
        <p class='miniprice'></p>
    </div>
    <ul class="leftnav">

        <li class="laptop-hover"><a href="">Laptop</a>
            <div class="laptop-drop-content">
                <a href="laptop-notebook">Notebook/Laptop</a>
                <a href="laptop-gaming">Laptop Gaming</a>
                <a href="memorii-notebook">Memorii Notebook/Laptop</a>
            </div>
        </li>
        <li class="laptop-hover"><a href="">Sisteme Gaming & Office</a>
            <div class="laptop-drop-content">
                <a href="pc_scoala">PC Scoala Online</a>
                <a href="pc_gaming">PC Gaming</a>
            </div>
        </li>
        <li class="laptop-hover"><a href="componente">Componente</a></li>
    </ul>
    <ul class="navlogo"><a href="index"><img class="logo" src="images/logo.png"></a></ul>
    <ul class="rightnav">
        <li><a href="userDetails">Detalii cont</a></li>
        <li><a href="login">Logare</a></li>
        <li><a href="register">Inregistrare</a></li>
    </ul>
    <div  >
        <a href="cart" class='cart icon-basket'><label style="
        font-size: 15px;
            top: -15px;
            position: absolute;
" th:text="${shoppingCartSize}"></label></a>

    </div>
</nav>
<div class='mainDiv'>
    <div class="container" style="
    width: 300px;
    height: 300px;
    ">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="
    position: relative;
    right: 500px;
    bottom: 50px;
    width: 300px;
    height: 300px;
    ">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div th:each="x : ${product}"  class="item active" style="
">
                    <img th:src="${x.photoFile1}"  style="width:100%;">
                </div>

                <div th:each="x : ${product}" class="item">
                    <img th:src="${x.photoFile2} " style="width:100%;">
                </div>

                <div th:each="x : ${product}" class="item">
                    <img th:src="${x.photoFile3}"  style="width:100%;">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" style="left: 7px;"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" style="left: 18px;"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
        <div>
            <form th:each="x:${product}"  method="post" action="/add-to-cart" class="count-inlineflex" style="
    height: auto;
    margin: 0 auto;
    /* padding: 10px; */
    position: absolute;
    top: 420;
    align-items: center;
    width: 200;
">

                <input hidden name="productId" th:value="${x.id}">
                <input type="number" min="1" name="quantity" value="1" class="qty" style="
    width: 30;
    text-align: center;
    position: relative;
    right: -23;
    border-radius: 20px;">



                <button type="submit" style="
    position: absolute;
    right: 15;
    border-radius: 30px;
    background-color: #1d69ab;
    color: white;
">Adauga in cos</button>
            </form>
        </div>
    </div>
    <div >
        <table class="specstable" style="margin-left: 200px;color: white; width: 1000px">
            <tr th:each="x : ${specs}" style="border: 1px solid #6f6171;">
                <td th:text="${x.firstCol}" style="background-color: rgba(255,255,255,0);" th:style="${x.secondCol==null} ? 'background-color: rgba(255,255,255,0.2);font-weight:bold;': 'background-color: rgba(255,255,255,0);'"></td>
                <td th:text="${x.secondCol}" style="background-color: rgba(255,255,255,0);" th:style="${x.secondCol==null} ? 'background-color: rgba(255,255,255,0.2)': 'background-color: rgba(255,255,255,0);'"></td>
            </tr>
        </table>
    </div>
</div>


</body></html>

<!--
<form method="post" action="/add-to-cart" class="count-inlineflex" style="
    height: auto;
    margin: 0 auto;
    /* padding: 10px; */
    position: absolute;
    top: 420;
    align-items: center;
    width: 200;
">

    <div class="qtyminus" style="
    font-size: 20;
    color: white;
    position: absolute;
    left: 10;
    top: 1;
">-</div>
    <input type="text" name="quantity" value="1" class="qty" style="
    width: 30;
    text-align: center;
    position: relative;
    right: -23;
    border-radius: 20px;
">
    <div class="qtyplus" style="
    position: absolute;
    left: 60;
    font-size: 20;
    color: white;
">+</div>

    <button type="submit" style="
    position: absolute;
    right: 15;
    border-radius: 30px;
    background-color: #1d69ab;
    color: white;
">Adauga in cos</button>
</form>-->
