<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PC Tech</title>
    <!--    <link th:href="@{css/style.css}" href="../../static/css/style.css"-->
    <!--          rel="stylesheet" type="text/css" media="screen"/>-->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    ><script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/RSH87/pen/RagqEv?limit=all&page=50&q=contact+" />

    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.4/css/simple-line-icons.min.css'>
    <link rel="stylesheet" href="css/index.css">
</head>
</head>
<body >
<nav>
    <div class='mini'>
        <p class='products'>Empty</p>
        <p class='names'></p>
        <p class='miniprice'></p>
    </div>
    <ul class="leftnav">

        <li class="laptop-hover"><a href="">Laptop</a>
            <div class="laptop-drop-content">
                <a href="laptop-notebook">Notebook/Laptop</a>
                <a href="laptop-gaming">Laptop Gaming</a>
                <a href="memorii-notebook">Memorii Notebook/Laptop</a>
            </div>
        </li>
        <li class="laptop-hover"><a href="">Sisteme Gaming & Office</a>
            <div class="laptop-drop-content">
                <a href="pc_scoala">PC Scoala Online</a>
                <a href="pc_gaming">PC Gaming</a>
            </div>
        </li>
        <li class="laptop-hover"><a href="componente">Componente</a></li>
    </ul>
    <ul class="navlogo"><a href="/"><img class="logo" src="images/logo.png"></a></ul>
    <ul class="rightnav">
        <li><a href="userDetails">Detalii cont</a></li>
        <li><a th:href="${href}" th:text="${userLogged}"></a></li>
        <li><a th:type="${hidden}" href="register" th:text="${userRegistered}"></a></li>
    </ul>
    <div  >
        <a href="cart" class='cart icon-basket'>
            <label style="
        font-size: 15px;
            top: -15px;
            position: absolute;
" th:text="${shoppingCartSize}"></label>
        </a>

    </div>
</nav>
<div class='mainDiv'>
    <div class="well">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Profile</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active in" id="home">
                <form id="tab" action="/updateUserDetails" method="get">
                    <label>First Name</label>
                    <input type="text" name="firstName" th:value="${firstName}" class="input-xlarge">
                    <label>Last Name</label>
                    <input type="text" name="lastName" th:value="${lastName}" class="input-xlarge">
                    <label>Address</label>
                    <textarea th:text="${address}" name="address" class="input-xlarge">
            </textarea>
                    <div>
                        <button class="btn btn-primary">Update</button>
                    </div>
                </form>
                <form id="tab2" action="/userDetails" method="post">
                    <label>Old password</label>
                    <input type="password" name="password" class="input-xlarge">
                    <label>New Password</label>
                    <input type="password" name="newPassword" class="input-xlarge">
                    <p th:text="${message}" style="color: #007ccc"></p>
                    <div>
                        <button class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
            <!--<div class="tab-pane fade" id="profile">
                <form id="tab2" action="/updatePassword" method="post">
                    <label>Old password</label>
                    <input type="password" name="password" class="input-xlarge">
                    <label>New Password</label>
                    <input type="password" name="newPassword" class="input-xlarge">
                    <p th:text="${message}" style="color: #FFFFFF"></p>
                    <div>
                        <button class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>-->
        </div>
    </div>
</div>


<script src="main.js"></script>
</body>
</html>